<div id="menu" class="menuSection">
    <div class="ourMenu">            
        <h1 class="fontRaleway"><b>OUR MENU</b></h1>         
    </div>


    <div class="choiceMenu">
        <div class="choos">
            <img src="./assets/img/r1.png" alt="">
            <table>
                <span class="dish">Tonkasu Ramen</span>
                <tr>
                    <td>CHICKEN</td>                    
                    <td>11,95€</td>
                  </tr>
                  <tr>
                    <td>BEEF</td>                    
                    <td>12,95€</td>
                  </tr>
                  <tr>
                    <td>SCHRIMP</td>                    
                    <td>13,95€</td>
                  </tr>
                </table>
        </div>
    </div>
    <div class="choiceMenu">
        <div class="choos">
            
            <table>
                <span class="dish">Spicy Miso Ramen</span>
                <tr>
                    <td>CHICKEN</td>                    
                    <td>11,95€</td>
                  </tr>
                  <tr>
                    <td>BEEF</td>                    
                    <td>12,95€</td>
                  </tr>
                  <tr>
                    <td>SCHRIMP</td>                    
                    <td>13,95€</td>
                  </tr>
                </table>
                <img src="./assets/img/r2.png" alt="">
        </div>
    </div>
    <div class="choiceMenu">
        <div class="choos">
            <img src="./assets/img/r3.png" alt="">
            <table>
                <span class="dish">Shio Ramen</span>
                <tr>
                    <td>CHICKEN</td>                    
                    <td>11,95€</td>
                  </tr>
                  <tr>
                    <td>BEEF</td>                    
                    <td>12,95€</td>
                  </tr>
                  <tr>
                    <td>SCHRIMP</td>                    
                    <td>13,95€</td>
                  </tr>
                </table>
        </div>
    </div>

</div>
